@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Inter';
	src: url('/fonts/Inter.ttf') format('truetype-variations');
	font-weight: 1 999;
	font-style: normal;
	font-display: swap;
}

@layer base {
	:root {
		--background: 0 0% 100%;
		--foreground: 240 10% 3.9%;

		--card: 0 0% 100%;
		--card-foreground: 240 10% 3.9%;

		--popover: 0 0% 100%;
		--popover-foreground: 240 10% 3.9%;

		--primary: 240 5.9% 10%;
		--primary-foreground: 0 0% 98%;

		--secondary: 240 4.8% 95.9%;
		--secondary-foreground: 240 5.9% 10%;

		--muted: 240 4.8% 95.9%;
		--muted-foreground: 240 3.8% 46.1%;

		--accent: 240 4.8% 95.9%;
		--accent-foreground: 240 5.9% 10%;

		--destructive: 0 84.2% 60.2%;
		--destructive-foreground: 0 0% 98%;

		--border: 240 5.9% 90%;
		--input: 240 5.9% 90%;
		--ring: 240 10% 3.9%;

		--radius: 0.5rem;
	}

	.dark {
		--background: 240 10% 3.9%;
		--foreground: 0 0% 98%;

		--card: 240 10% 3.9%;
		--card-foreground: 0 0% 98%;

		--popover: 240 10% 3.9%;
		--popover-foreground: 0 0% 98%;

		--primary: 0 0% 98%;
		--primary-foreground: 240 5.9% 10%;

		--secondary: 240 3.7% 15.9%;
		--secondary-foreground: 0 0% 98%;

		--muted: 240 3.7% 15.9%;
		--muted-foreground: 240 5% 64.9%;

		--accent: 240 3.7% 15.9%;
		--accent-foreground: 0 0% 98%;

		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 0 0% 98%;

		--border: 240 3.7% 15.9%;
		--input: 240 3.7% 15.9%;
		--ring: 240 4.9% 83.9%;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}

	main {
		width: 720px;
		max-width: calc(100% - 2em);
		margin: auto;
		padding: 3em 1em;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		margin: 0 0 0.5rem 0;
		line-height: 1.2;
	}
	h1 {
		font-size: 3.052em;
	}
	h2 {
		font-size: 2.441em;
	}
	h3 {
		font-size: 1.953em;
	}
	h4 {
		font-size: 1.563em;
	}
	h5 {
		font-size: 1.25em;
	}
	strong,
	b {
		font-weight: 700;
	}
	a {
		color: hsl(var(--muted-foreground));
	}
	a:hover {
		color: hsl(var(--foreground));
	}
	p {
		margin-bottom: 1em;
	}
	.prose p {
		margin-bottom: 2em;
	}
	textarea {
		width: 100%;
		font-size: 16px;
	}
	input {
		font-size: 16px;
	}
	table {
		width: 100%;
	}
	img {
		max-width: 100%;
		height: auto;
		border-radius: 8px;
	}
	code {
		@apply relative rounded bg-muted px-[0.3rem] py-[0.2rem] font-mono text-sm font-semibold;
	}
	pre {
		padding: 1.5em;
		border-radius: 8px;
	}
	pre > code {
		all: unset;
	}
	blockquote {
		border-left: 4px solid hsl(var(--accent));
		padding: 0 0 0 20px;
		margin: 0px;
		font-size: 1.333em;
	}
	hr {
		border: none;
		border-top: 1px solid rgb(var(--gray-light));
	}
	@media (max-width: 720px) {
		body {
			font-size: 18px;
		}
		main {
			padding: 1em;
		}
	}

	.sr-only {
		border: 0;
		padding: 0;
		margin: 0;
		position: absolute !important;
		height: 1px;
		width: 1px;
		overflow: hidden;
		/* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
		clip: rect(1px 1px 1px 1px);
		/* maybe deprecated but we need to support legacy browsers */
		clip: rect(1px, 1px, 1px, 1px);
		/* modern browsers, clip-path works inwards from each corner */
		clip-path: inset(50%);
		/* added line to stop words getting smushed together (as they go onto seperate lines and some screen readers do not understand line feeds as a space */
		white-space: nowrap;
	}
}
